# gradle

.gradle/
build/
out/
classes/
gradle-9.2.0/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

#other
mini-game-collection-template-1.20.1.zip
simple-voice-chat-outdated-1.20.1-2.4.x/
libs/
sync-to-github.bat